body{
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color: aliceblue;
    text-decoration: none;
    padding: 0rem 1rem ;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(254 174 25);
}


h1 {
    padding-top: 16px;

}
form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer {
    display: flex;
    justify-content: space-evenly;
    background-color: black;

}

.footer a {
    color: whitesmoke;
    text-decoration: none;
}

.services {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
}

.about {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
}

.contact {
    color: whitesmoke;
}

.hero {
    display: flex;
    background-color: rgb(243, 170, 34);
    justify-content: center;
    align-items: center;
}

.links{
    display: flex;
    align-items: center;
}

.vet {
    padding-left: 32px;
}






.rol-section * {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    font-size: inherit;
}
.rol-section    {
    background-color: #ffc500;
    text-align: center;
    padding: 80px 140px;
    color: #fff;
    line-height: 40px;
    font-size: 32px;
}
.rol-section > h4 {
    font-size: 2.4em;
    line-height: 2em;
    font-size: bold;
}
.rol-flex   { 
    display: flex;
    justify-content: space-between; 
    margin-top: 80px;
}
.rol-card { width: 30%; }
.rol-card > h5 {
    font-size: 36px;
    line-height: 2em;
    font-size: bold;
    margin-top: 40px;
}
.rol-card > h5 + p  {
    line-height: 32px;
    font-size: 0.8em;
}
.rol-card > img { width: 100%; }
.rol-card > button {
    line-height: 60px;
    background: #00c0cd;
    font-weight: bold;
    border-radius: 25px;
    border: 0px none;
    width: 200px;
    color: inherit;
    font-size: 0.8em;
}
.rol-price { 
    line-height: 100px; 
    font-size: 1.3em;
    font-weight: bold;
}
.rol-price > del {
    display: inline-block;
    padding: 0 20px 0 0;
}

 

.management {
    margin: 0 -5px;
    
}

.managers {
    display: flex;
    justify-content: space-between;
    width: 25%;
    padding: 0 10px
    
}

.w3-card-4 {
   
    padding: 0rem 8rem;
    text-align: center;
    background-color: white;
}
.recentposts {
    float: center;
    
}

.posts {
    
    display: flex;
    
}
.posts a {
    text-decoration: none;
}
  
/* ----------------- video section -------------*/
.video-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 6rem 0rem;
}

.video-content-container {
    display: flex;
    flex-wrap: wrap;
    width: 30rem;
    margin-bottom: 8rem;
}

.video-content-container h2 {
    font-size: 3rem;
}

.video-content-container p {
    font-size: 2rem;
}

.video-img-container {
    width: 35rem;
    height: 35rem;
    position: relative;
    margin-bottom: 8rem;
}

.video-img-container .video-img {
    width: 100%;
    height: 100%;
    object-fit: fit;
}

.video-img-container .play-button-img {
    position: absolute;
    top: 45%;
    left: 45%;
}

.video-img-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(254, 174, 25, 0.6)
}

.video-img-container::after {
    content: '';
    position: absolute;
    z-index: -10;
    top: 70%;
    right: 70%;
    width: 40%;
    height: 40%;
    background: rgba(254, 174, 25)
}



.btn-yellow {
    font-size: 1.5rem;
    color: white;
    background-color: rgb(254 174 25);
    border: none;
    border-radius: 5px;
    padding: 1rem 2rem
}

/* ----------------- endof video section -------------*/


