nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(254 174 25);
    }
    
    h1{
        padding-top: 16px;
      
    }
    
    .footer{
        display: flex;
        justify-content: space-evenly;
        background-color: black;
       
    }
    .footer a{
        color: whitesmoke;
        text-decoration: none;
    }
    .services {
        display: flex;
        flex-direction: column;
        color: whitesmoke;
    }
    
    .about{
        display: flex;
        flex-direction: column;
        color: whitesmoke;
    }
    .contact{
        color: whitesmoke;
    }
    
.hero{
    display: flex;
    align-items: center;
    background-color: rgb(243, 170, 34);
}    
.vet{
    padding-left: 32px;
}
